@using CarDealership.Data.Enums
@model CreateCarViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Добави Кола</h2>
    <div class="row d-flex">
        <div class="col-6">
            <form method="post" asp-action="Create" asp-controller="Car" id="carForm">
                <div>
                    <label asp-for="@Model.Car.Brand">Марка</label>
                    <select asp-for="@Model.Car.BrandId" asp-items="@(new SelectList(ViewBag.Brands, "BrandId", "Name"))" class="form-control" id="brandDropdown">
                        <option value="" disabled selected>Избери Марка</option>
                    </select>
                    <span asp-validation-for="@Model.Car.BrandId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Car.ModelId">Модел</label>
                    <select asp-for="@Model.Car.ModelId" class="form-control" id="modelDropdown">
                        <option value="" disabled selected>Избери Модел</option>
                    </select>
                    <span asp-validation-for="@Model.Car.ModelId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Car.EngineType">Тип на Двигателя</label>
                    <select asp-for="@Model.Car.EngineType" asp-items="Html.GetEnumSelectList<EngineType>()" class="form-control">
                        <option value="" disabled selected>Избери тип на Двигателя</option>
                    </select>
                    <span asp-validation-for="@Model.Car.EngineType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.TransmissionType">Тип на Трансмисията</label>
                    <select asp-for="@Model.Car.TransmissionType" asp-items="Html.GetEnumSelectList<TransmissionType>()" class="form-control">
                        <option value="" disabled selected>Избери тип на Трансмисията</option>
                    </select>
                    <span asp-validation-for="@Model.Car.TransmissionType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.CarColorId">Цвят</label>
                    <select asp-for="@Model.Car.CarColorId" asp-items="@(new SelectList(ViewBag.CarColors, "CarColorId", "Name"))" class="form-control">
                        <option value="" disabled selected>Избери Цвят на колата</option>
                    </select>
                    <span asp-validation-for="@Model.Car.CarColorId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="@Model.Car.Region">Област</label>
                    <select asp-for="@Model.Car.Region" asp-items="Html.GetEnumSelectList<CarDealership.Data.Enums.Region>()" class="form-control">
                        <option value="" disabled selected>Избери Област</option>
                    </select>
                    <span asp-validation-for="@Model.Car.Region" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.Year">Година на Производство</label>
                    <input asp-for="@Model.Car.Year" class="form-control" />
                    <span asp-validation-for="@Model.Car.Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.Mileage">Пробег</label>
                    <input asp-for="@Model.Car.Mileage" class="form-control" type="number" />
                    <span asp-validation-for="@Model.Car.Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.Power">Мощност на двигателя</label>
                    <input asp-for="@Model.Car.Power" class="form-control" type="number" />
                    <span asp-validation-for="@Model.Car.Power" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.CarType">Тип на Купето</label>
                    <select asp-for="@Model.Car.CarType" asp-items="Html.GetEnumSelectList<CarType>()" class="form-control">
                        <option value="" disabled selected>Избери тип на Купето</option>
                    </select>
                    <span asp-validation-for="@Model.Car.CarType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.Condition">Състояние</label>
                    <select asp-for="@Model.Car.Condition" asp-items="Html.GetEnumSelectList<Condition>()" class="form-control">
                        <option value="" disabled selected>Избери Състояние</option>
                    </select>
                    <span asp-validation-for="@Model.Car.Condition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Car.Price">Цена</label>
                    <input asp-for="@Model.Car.Price" class="form-control" type="number" />
                    <span asp-validation-for="@Model.Car.Price" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Създай</button>
            </form>
            <a asp-action="Index" class="btn btn-secondary mt-3">Върни се към списъка с Коли</a>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label asp-for="Photos">Линк към Снимка</label>
                <input asp-for="Photos" id="photoUrl" name="photoUrl" class="form-control" />
                <span asp-validation-for="Photos" class="text-danger"></span>
                <small class="form-text text-muted">Въведи линк към снимка</small>
            </div>

            <button type="button" id="addPhotoBtn" class="btn btn-secondary">Добави Снимка</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).on('change', '#brandDropdown', function () {
            var brandId = $(this).val();

            // Clear existing options in the model dropdown
            $('#modelDropdown').html('<option value="" disabled selected>Избери Модел</option>');

            if (brandId) {
                // Use Url.Action to generate the correct URL
                var url = '@Url.Action("GetModels", "Car")/' + brandId;

                // Fetch models based on the selected brand
                $.getJSON(url, function (models) {
                    // Populate the model dropdown with fetched models
                    $.each(models, function (index, model) {
                        $('#modelDropdown').append('<option value="' + model.modelId + '">' + model.name + '</option>');
                    });
                });
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script>
        $(document).ready(function () {
            var photoUrls = []; // Array to store photo URLs

            // Event handler for the "Add Photo" button
            $("#addPhotoBtn").on('click', function () {
                var photoUrlInput = $("#photoUrl");
                var newUrl = photoUrlInput.val();

                // Add the new URL to the array if not empty
                if (newUrl.trim() !== "") {
                    photoUrls.push(newUrl);
                    console.log("Added photo URL:", newUrl);

                    // Clear the input field
                    photoUrlInput.val('');
                }
            });

            $(document).ready(function () {
                // Event handler for form submission
                $("#carForm").submit(function (event) {
                    // Prevent the default form submission
                    event.preventDefault();

                    var carData = {
                        BrandId: $("#brandDropdown").val(),
                        ModelId: $("#modelDropdown").val(),
                        EngineType: $("#Car_EngineType").val(),
                        TransmissionType: $("#Car_TransmissionType").val(),
                        CarColorId: $("#Car_CarColorId").val(),
                        Region: $("#Car_Region").val(),
                        Year: $("#Car_Year").val(),
                        Mileage: $("#Car_Mileage").val(),
                        Power: $("#Car_Power").val(),
                        CarType: $("#Car_CarType").val(),
                        Condition: $("#Car_Condition").val(),
                        Price: $("#Car_Price").val(),
                        Photos: photoUrls
                    };
                    console.log("carData:", carData);
                    var viewModel = {
                        Car: carData,
                        Photos: photoUrls
                    };

                    // Perform the AJAX request
                    $.ajax({
                        type: "POST",
                        url: "/Car/Create",
                        data: viewModel,
                        dataType: "json",
                        success: function (data) {
                            if (data.success) {
                                console.log("Car and photos added successfully");

                                // Check if there's a redirect URL
                                if (data.redirectUrl) {
                                    // Redirect to the specified URL
                                    window.location.href = data.redirectUrl;
                                } else {
                                    console.warn("No redirection URL provided.");
                                }
                            } else {
                                console.warn("Error adding car and photos:", data.message || "Unknown error");
                            }
                        },
                        error: function () {
                            console.warn("AJAX request failed");
                        }
                    });
                });
            });
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}


